<a href="https://colab.research.google.com/github/ayushag10004/Pandas-Tutorial/blob/master/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
data = pd.read_excel('All_IPL_Match_Scores_raw.xlsx',sheet_name='All_IPL_Data')
data.head()

,Match_Number,Match,Date,Year,Venue,Team_Batting_First,Team_Batting_Second,Bat_First_Runs_Scored,Bat_First_Wickets_Lost,Bat_First_Overs_Consumed,...,Bat_Second_10_ov_score,Bat_Second_10_ov_wkts_lost,Bat_Second_10_ov_Req_RR,Bat_Second_15_ov_score,Bat_Second_15_ov_wkts_lost,Bat_Second_15_ov_Req_RR,Bat_Second_20_ov_score,Bat_Second_20_ov_wkts_lost,Match_Time,Duckworth Lewis Used
0,1,League Match,Apr 18,2008,Bangalore,Kolkata,Bangalore,222,3,20.0,...,51.0,7.0,17.2,81.0,9.0,28.4,NaN,NaN,Evening,NaN
1,2,League Match,Apr 19,2008,Mohali,Chennai,Punjab,240,5,20.0,...,110.0,1.0,13.1,165.0,3.0,15.2,207.0,4.0,Afternoon,NaN
2,3,League Match,Apr 19,2008,Delhi,Rajasthan,Delhi,129,8,20.0,...,86.0,1.0,4.4,128.0,1.0,0.4,NaN,NaN,Evening,NaN
3,4,League Match,Apr 20,2008,Kolkata,Hyderabad,Kolkata,110,10,18.4,...,38.0,3.0,7.3,81.0,4.0,6.0,NaN,NaN,Afternoon,NaN
4,5,League Match,Apr 20,2008,Mumbai,Mumbai,Bangalore,165,6,20.0,...,76.0,3.0,9.0,118.0,4.0,9.6,166.0,5.0,Evening,NaN

In [0]:
type(data[['Date','Year']])

pandas.core.frame.DataFrame

In [0]:
data.dropna()

Empty DataFrame
Columns: [Match_Number, Match, Date, Year, Venue, Team_Batting_First, Team_Batting_Second, Bat_First_Runs_Scored, Bat_First_Wickets_Lost, Bat_First_Overs_Consumed, Bat_First_Overs_Allocated, Bat_Second_Runs_Scored, Bat_Second_Wickets_Lost, Bat_Second_Overs_Consumed, Bat_Second_Overs_Allocated, Winner, Winning_Team, Winning_Margin, Win_Type, Bat_First_Run_Rate, Bat_Second_Run_Rate, Balls_Remaining, Bat_First_5_ov_score, Bat_First_5_ov_wkts_lost, Bat_First_10_ov_score, Bat_First_10_ov_wkts_lost, Bat_First_15_ov_score, Bat_First_15_ov_wkts_lost, Bat_First_20_ov_score, Bat_First_20_ov_wkts_lost, Bat_Second_5_ov_score, Bat_Second_5_ov_wkts_lost, Bat_Second_5_ov_Req_RR, Bat_Second_10_ov_score, Bat_Second_10_ov_wkts_lost, Bat_Second_10_ov_Req_RR, Bat_Second_15_ov_score, Bat_Second_15_ov_wkts_lost, Bat_Second_15_ov_Req_RR, Bat_Second_20_ov_score, Bat_Second_20_ov_wkts_lost, Match_Time, Duckworth Lewis Used]
Index: []

[0 rows x 43 columns]